.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.for-sale-img {
  max-width: 50%;
  height: auto;
  display: block;
}

@media (max-width: 48em) {
  .container {
    flex-direction: column;
  }
  .for-sale-img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
